<h1> Skills</h1>

<div class="profile">

	<!-- <div class="col-md-12 "> -->
	<div class="col-md-6">
		<h3>
			<%= form_tag "/resumes/skills", :class =>"md-form", method: :post do %>


	       		
				<div class="md-form"> 
					<input value="HTML, CSS, Fishing in a small pond" type="text" id="skills" name="skills" class="form-control">
					<label class="active" for="skills">Skills:</label>
				</div> 

			<% end %>
		</h3>
	</div>
</div>
@skills.each do(each loop)
skill name